.title {
    text-align: center;
    margin-bottom: 10px;
}


container.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

form {
    margin-left: 10px;
}
#add-gif {
    margin-top: 10px;
}

/* 
    .gif {
        cursor: pointer;
}

    .gif:hover {
        outline: ....
        box-shadow: ...
        outline: ...
    }

*/